*.egg-info/
*.o
.*.pyc
.*\.orig
.*\.swp
.ipynb_checkpoints/
REVISION
VERSION
__pycache__
*.egg-info/
.vscode/*
.version
.idea/

build/
src/local_cocopp/_version.py
src/local_cocopp/**/*.dat
src/local_cocopp/**/*.tdat
src/local_cocopp/**/*.info
dist/
ppdata/uv.lock
uv.lock
